<!-- upload_product.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Завантаження товарів</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Завантажити товари</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Завантажити</button>
        </form>
    </div>
</body>
</html>
